{{define "changepassword"}}
{{template "head"}}
<body>
    {{template "navbar" .}}
    <div class="pt-5 pb-5">
        <h2 class="text-center section-heading text-muted">Change Password</h2>
    </div>
    <form method="post" action="/changepassword-submit?id={{.ID}}" onsubmit="return updatePasswordPageBlankCheckFunc()">
        <div class="col-lg-4 col-md-8 col-sm-12 mx-auto">
            {{if eq .Token.AccessLevel 4}}{{if eq .Token.ID .ID}}
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="text-muted">Now Password</label>
                        <input type="password" name="nowPassword" id="nowPassword" class="form-control">
                        <small class="form-text text-muted">현재 사용중인 패스워드를 입력해주세요.</small>
                    </div>
                </div>
            </div>
            {{end}}{{end}}
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="text-muted">New Password</label>
                        <input type="password" name="newPassword" id="newPassword" class="form-control">
                        <small class="form-text text-muted">새 패스워드를 입력해주세요. 대소문자, 숫자, 특수문자 포함, 8자리 이상을 권장합니다.</small>
                    </div>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col">
                    <div class="form-group">
                        <label class="text-muted">Confirm New Password</label>
                        <input type="password" name="confirmNewPassword" id="confirmNewPassword" class="form-control">
                        <small class="form-text text-muted">새 패스워드를 한번 더 입력해주세요.</small>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-darkmode mt-5 mb-5">Change</button>
            </div>
        </div>
    </form>
    {{template "footer"}}
</body>
<!--add javascript-->
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap-4/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/budget.js"></script>
</html>
{{end}}