{{define "detail-asset"}}
{{template "head"}}
<body>
    {{template "navbar" .}}
    <!-- 프로젝트 이름 및 예산안 타입 -->
    <div class="pt-5 pb-5">
        <h3 class="text-center font-weight-bold section-heading text-muted">[ {{.Name}} - {{.BGType}} ]</h3>
    </div>
    <div class="container py-4 px-2" style="max-width: 90%;">
        <div class="mx-auto pb-2">
            <div class="d-flex bd-highlight">
                <div class="mr-auto bd-highlight">
                    <form action="/exportdetailasset?id={{.ID}}&bgtype={{.BGType}}" method="POST">
                        {{if eq .Token.AccessLevel 4}}
                            <button type="submit" class="btn btn-outline-warning btn-sm">Download</button>
                        {{end}}
                    </form>
                </div>
            </div>
        </div>
        <div class="mx-auto freeze-table">
            <table class="table table-sm text-center table-hover text-white">
                <thead>
                    <tr>
                        <th rowspan="2" class="border-top-white border-bottom-white border-right-gray">분류</th>
                        <th rowspan="2" class="border-top-white border-bottom-white border-right-gray">명칭</th>
                        <th rowspan="2" class="border-top-white border-bottom-white border-right-gray">VFX_note</th>
                        <th rowspan="2" class="border-top-white border-bottom-white border-right-white">Shot</th>
                        <th class="border-top-white border-bottom-gray" colspan="{{len .TaskList}}">Task</th>
                    </tr>
                    <tr>
                        {{range $i, $task := .TaskList}}
                            <th class="border-bottom-white {{if ne (addIntFunc $i 1) (len $.TaskList)}} border-right-gray {{end}}" style="min-width: 60px;">{{$task}}</th>
                        {{end}}
                    </tr>
                </thead>
                <tbody>
                    {{range $asset := .AssetList}}
                        <tr>
                            <td class="border-top-gray border-right-gray">{{$asset.Class}}</td>
                            <td style="max-width: 100px; white-space: normal;" class="border-top-gray border-right-gray">{{$asset.Name}}</td>
                            <td style="max-width: 120px; white-space: normal;" class="border-top-gray border-right-gray">{{$asset.Note}}</td>
                            <td class="border-top-gray border-right-white">{{$asset.Shot}}</td>
                            {{range $i, $task := $.TaskList}}
                                {{$bid := index $asset.Manday $task}}
                                {{if ne $bid 0.0}}
                                    <td class="border-top-gray {{if ne (addIntFunc $i 1) (len $.TaskList)}} border-right-gray {{end}}">{{$bid}}</td>
                                {{else}}
                                    <td class="border-top-gray {{if ne (addIntFunc $i 1) (len $.TaskList)}} border-right-gray {{end}}"></td>
                                {{end}}
                            {{end}}
                        </tr>
                    {{end}}
                    <tr>
                        <td colspan="4" class="border-top-white border-right-white total">Total</td>
                        {{range $i, $task := .TaskList}}
                            {{$tbid := index $.TotalBid $task}}
                            {{if eq $tbid 0.0}}
                                <td class="border-top-white {{if ne (addIntFunc $i 1) (len $.TaskList)}} border-right-gray {{end}} total"></td>
                            {{else}}
                                <td class="border-top-white {{if ne (addIntFunc $i 1) (len $.TaskList)}} border-right-gray {{end}} total">{{$tbid}}</td>
                            {{end}}
                        {{end}}
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="text-center pt-5 pb-5">
            <input class="btn btn-darkmode" type="button" value="BACK" onclick="history.go(-1)">
        </div>
    </div>
    {{template "footer"}}
</body>
<!--add javascript-->
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap-4/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/budget.js"></script>
<script src="/assets/js/freeze-table.min.js"></script>

<script>
    $(document).ready(function(){
        $(".freeze-table").freezeTable({
            "headWrapStyles": {
                "top": "56px", /* navbar 밑에 고정되도록 */
                "box-shadow": "0px 9px 10px -5px rgb(45, 45, 45)"
            },
            "freezeColumn": false, /* column 고정 해제 */
            "backgroundColor": false, /* false로 하면 기존 컬러로 설정됨 */
        })
    })
</script>
</html>
{{end}}