{{define "head"}}
<!DOCTYPE html>
<html>
<head>
<title>budget</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/assets/bootstrap-4/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/bootstrap-4/css/bootstrap-toggle.min.css">
<link rel="stylesheet" href="/assets/css/default.css">
<link rel="stylesheet" href="/assets/css/dropzone.css">
<link rel="stylesheet" href="/assets/css/number.css">
<link rel="stylesheet" href="/assets/css/select2.min.css">
</head>
{{end}}