{{define "invalidaccess"}}
{{template "head"}}
<body>
{{template "navbar" .}}
<div class="container p-5">
    <div class="col-lg-8 col-md-8 col-sm-12 mx-auto">
        <div class="pt-3 pb-5">
            <h2 class="text-center section-heading text-muted">Invalid Access Level</h2>
        </div>
        <div class="pt-3 pb-3 text-center">
            <label class="text-center text-muted">사이트를 이용하기 위해서는 더 높은 등급의 액세스 레벨이 필요합니다.<br>
            관리자를 통해서 액세스 레벨 변경 공지를 받았다면, 다시 <a href="/signin" class="text-warning">Sign in</a>해주세요.</label>
        </div>
    </div>
</div>
{{template "footer"}}
</body>
<!--add javascript-->
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap-4/js/bootstrap.min.js"></script>
</html>
{{end}}