{{define "updateartistscm-fail"}}
{{template "head"}}
<body>
    {{template "navbar" .}}
    <div class="container py-4 px-2">
        <div class="col-lg-12 col-md-8 col-sm-12 mx-auto pb-2">
            <div class="pt-3 pb-3">
                <h2 class="text-muted text-center">Update Artists Status</h2>
            </div>
            <div class="pt-3 pb-3">
                <h6 class="text-muted text-center">이와 같은 이유로 인해 아래의 아티스트들을 추가 및 업데이트하지 못하였습니다.</h6>
            </div>
            <table class="table table-sm text-center table-hover text-white">
                <thead>
                    <tr>
                        <th>CM ID</th>
                        <th>Error Log</th>
                    </tr>
                </thead>
                <tbody>
                    {{range $id, $log := .Artists}}
                        <tr>
                            <td>{{$id}}</td>
                            <td>{{$log}}</td>
                        </tr>
                    {{end}}
                </tbody>
            </table>
            <div class="text-center">
                <a href="/artists-cm" class="btn btn-darkmode mt-5">Confirm</a>
                <a href="/" class="btn btn-darkmode mt-5">Home</a>
            </div>
        </div>
    </div>
    {{template "footer"}}
</body>
<!--add javascript-->
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap-4/js/bootstrap.min.js"></script>
</html>
{{end}}