{{define "users"}}
{{template "head"}}
<body>
    {{template "navbar" .}}
    {{template "modal-user" .}}
    <div class="pt-5 pb-5">
        <h2 class="text-center section-heading text-muted">Users</h2>
    </div>
    <form action="/update-users" method="POST">
        <div class="container pt-2 pb-5">
            <div class="col-lg-12 col-md-8 col-sm-12 mx-auto freeze-table">
                <table class="table table-sm text-center table-hover text-white">
                    <thead>
                        <tr>
                            <th class="border-bottom-white border-top-white border-right-gray">ID</th>
                            <th class="border-bottom-white border-top-white border-right-gray">Team</th>
                            <th class="border-bottom-white border-top-white border-right-white">Name</th>
                            <th class="border-bottom-white border-top-white border-right-white">비밀번호</th>
                            <th class="border-bottom-white border-top-white border-right-white">Access level</th>
                            <th class="border-bottom-white border-top-white"></td>
                        </tr>
                    </thead>

                    <tbody>
                        <!-- 유저 정보 출력 -->
                        {{$i := 0}}
                        {{range $user := .Users}}
                        <tr>
                            <td class="border-top-gray border-right-gray">{{$user.ID}}</td>
                            <td class="border-top-gray border-right-gray">{{$user.Team}}</td>
                            <td class="border-top-gray border-right-white">{{$user.Name}}</td>
                            <td class="border-top-gray border-right-white"><a href="/changepassword?id={{$user.ID}}" class="badge badge-warning">Change Password</a></td>
                            <td class="border-top-gray border-right-white">
                                <select name="accesslevel{{$i}}" class="form-control">
                                    <option value="0" {{if eq .AccessLevel 0 }}selected{{end}}>Guest</option>
                                    <option value="1" {{if eq .AccessLevel 1 }}selected{{end}}>Default</option>
                                    <option value="2" {{if eq .AccessLevel 2 }}selected{{end}}>Member</option>
                                    <option value="3" {{if eq .AccessLevel 3 }}selected{{end}}>Manager</option>
                                    <option value="4" {{if eq .AccessLevel 4 }}selected{{end}}>Admin</option>
                                </select>
                            </td>
                            <td class="border-top-gray"><span class="finger badge badge-danger" data-toggle="modal" data-target="#modal-rmuser" onclick="setRmUserModalFunc('{{$user.ID}}')">Del</span></td>
                            <input type="hidden" id="id{{$i}}" name="id{{$i}}" value="{{$user.ID}}">
                        </tr>
                        {{$i = addIntFunc $i 1}}
                        {{end}}
                    </tbody>
                </table>
                <input type="hidden" id="userNum" name="userNum" value="{{$i}}">
                <!-- save 버튼 -->
                <div class="text-center pt-4 pb-1">
                    <button type="submit" class="btn btn-outline-warning mt-2">Save</button>
                </div>
            </div>
        </div>
    </form>
    {{template "footer"}}
</body>
<!--add javascript-->
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap-4/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/budget.js"></script>
<script src="/assets/js/freeze-table.min.js"></script>

<script>
    $(document).ready(function(){
        $(".freeze-table").freezeTable({
            "headWrapStyles": {
                "top": "56px", /* navbar 밑에 고정되도록 */
                "box-shadow": "0px 9px 10px -5px rgb(45, 45, 45)"
            },
            "freezeColumn": false, /* column 고정 해제 */
            "backgroundColor": false, /* false로 하면 기존 컬러로 설정됨 */
        })
    })
</script>

{{end}}